# --- Carpetas Base ---
data_local/
env/
.env

# --- Python y Jupyter ---
__pycache__/
*.pyc
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# --- Gestión de Auditorías y Notebooks ---
*raw_audits*/
*resumen_audit*/

!**/02_auditoria_integridad.ipynb