# --- 1. Carpeta específica que querías ignorar ---
# Ignora solo la carpeta notebooks dentro de docker/clusterA
docker/clusterA/notebooks/

# --- 2. Basura de Jupyter Notebooks ---
# Archivos temporales de autoguardado
.ipynb_checkpoints
*/.ipynb_checkpoints/